<td>
    {{#if model.isEditing}}
        {{input type='date' value=model.date class='form-control '}}
    {{else}}
        {{format-date model.date 'DD/MM/YYYY'}}
    {{/if}}
</td>
<td>
    {{#if model.isEditing}}
        {{input type='text' value=model.description class='form-control'}}
    {{else}}
        {{model.description}}
    {{/if}}
</td>
<td>
    {{#if model.isEditing}}
        {{input type='text' value=model.amount class='form-control'}}
    {{else}}
        {{format-amount model.amount_cents model.currency}}
    {{/if}}
</td>
<td>
    {{#if model.isEditing}}
        {{input type='text' value=model.currency class='form-control'}}
    {{else}}
        {{model.currency}}
    {{/if}}
</td>
<td>
    {{#if model.isEditing}}
        {{my-select content=model.currency action=(action (mut model.payment_mean))}}
    {{else}}
        {{model.payment_mean.name}}
    {{/if}}
</td>

{{yield}}
