<td class="col-md-2">
    {{#if model.isEditing}}
        <div class="row">
            <div class="col-xs-8">
                {{bootstrap-datepicker value=model.date class='form-control'}}
            </div>
        </div>
    {{else}}
        {{format-date model.date 'DD/MM/YYYY'}}
    {{/if}}
</td>
<td class="col-md-3">
    {{#if model.isEditing}}
        {{input type='text' value=model.description class='form-control'}}
    {{else}}
        {{model.description}}
    {{/if}}
</td>
<td class="col-md-2 text-right">
    {{#if model.isEditing}}
        <div class="row">
            <div class="col-xs-6">
                {{input type='text' value=model.amount class='form-control'}}
            </div>
            <div class="col-xs-6">
                {{input type='text' value=model.currency class='form-control' placeholder='Currency'}}
            </div>
        </div>
    {{else}}
        {{#if model.isExpense}}
            -
        {{/if}}
        {{format-amount model.amount_cents model.currency}}
    {{/if}}
</td>
<td class="col-md-2">
    {{#if model.isEditing}}
        {{ember-selectize
        content=paymentMeans
        optionLabelPath='content.name'
        selection=model.payment_mean}}
    {{else}}
        {{model.payment_mean.name}}
    {{/if}}
</td>
<td class="col-md-2">
    {{#if model.isEditing}}
        {{ember-selectize
        content=bankAccounts
        optionLabelPath='content.name'
        selection=model.bank_account}}
    {{else}}
        {{model.bank_account.name}}
    {{/if}}
</td>
<td class="col-md-1">
    {{input type='checkbox' checked=model.is_confirmed}}
</td>
<td class="col-md-1">
    {{#if model.isEditing}}
        <button class="btn btn-success btn-xs" {{action 'save' model}}><i class="glyphicon glyphicon-ok"></i></button>
        <button class="btn btn-default btn-xs" {{action 'cancelEdit' model}}><i class="glyphicon glyphicon-remove"></i>
        </button>
    {{else}}
        <button class="btn btn-primary btn-xs" {{action 'edit' model}}><i class="glyphicon glyphicon-edit"></i></button>
    {{/if}}
</td>
{{yield}}
