<td>
    {{#if model.isEditing}}
        {{bootstrap-datepicker value=model.date class='form-control'}}
    {{else}}
        {{format-date model.date 'DD/MM/YYYY'}}
    {{/if}}
</td>
<td>
    {{#if model.isEditing}}
        {{input type='text' value=model.description class='form-control'}}
    {{else}}
        {{model.description}}
    {{/if}}
</td>
<td>
    {{#if model.isEditing}}
        {{input type='text' value=model.amount class='form-control'}}
    {{else}}
        {{format-amount model.amount_cents model.currency}}
    {{/if}}
</td>
<td>
    {{#if model.isEditing}}
        {{input type='text' value=model.currency class='form-control'}}
    {{else}}
        {{model.currency}}
    {{/if}}
</td>
<td>
    {{#if model.isEditing}}
        {{ember-selectize
        content=paymentMeans
        optionLabelPath='content.name'
        selection=model.payment_mean}}
    {{else}}
        {{model.payment_mean.name}}
    {{/if}}
</td>
<td>
    {{#if model.isEditing}}
        <button class="btn btn-success btn-sm" {{action 'save' model}}><i class="glyphicon glyphicon-ok"></i></button>
        <button class="btn btn-default btn-sm" {{action 'cancelEdit' model}}><i class="glyphicon glyphicon-remove"></i>
        </button>
    {{else}}
        <button class="btn btn-primary btn-sm" {{action 'edit' model}}><i class="glyphicon glyphicon-edit"></i></button>
    {{/if}}

</td>
{{yield}}
