{{#if session.isAuthenticated}}
    <div id="cl-wrapper">
        <div class="cl-sidebar">
            {{render 'sidebar'}}
        </div>

        <div class="container-fluid" id="pcont">

            <div id="head-nav" class="navbar navbar-default">
                {{ render 'header'}}
            </div>


            {{#each flashMessages.arrangedQueue as |flash|}}
                <div class="flash-messages">
                    {{flatdream-flash flash=flash}}
                </div>
            {{/each}}


            {{outlet}}
        </div>
    </div>
{{else}}
    {{outlet}}
{{/if}}