{{#if session.isAuthenticated}}
    <div id="cl-wrapper">
        <div class="container-fluid" id="pcont">
            <div id="head-nav" class="topbar navbar navbar-default">
              {{ render 'header'}}
            </div>


          {{#each flashMessages.arrangedQueue as |flash|}}
              <div class="flash-messages">
                {{flatdream-flash flash=flash}}
              </div>
          {{/each}}

            <div class="cl-mcont">
              {{outlet}}
            </div>
        </div>
    </div>
{{else}}
  {{outlet}}
{{/if}}

{{outlet 'modal'}}