{{#if session.isAuthenticated}}
    <div id="cl-wrapper">
        <div class="cl-sidebar">
            {{render 'sidebar'}}
        </div>

        <div class="container-fluid" id="pcont">

            <div id="head-nav" class="navbar navbar-default">
                {{ render 'header'}}
            </div>
            {{outlet}}
        </div>
    </div>
{{else}}
    Foo bar baz
    {{session.isAuthenticated}}
    {{outlet}}
{{/if}}