<div class="cl-mcont">

  {{#if hasBankAccounts}}
      <div class="row">
          <div class="col-md-5">
              <div class="block-flat">
                  <div class="header">
                      <h3>My Accounts</h3>
                  </div>
                  <div class="content">
                      <ul class="list-group tickets">
                        {{#each bankAccounts as |account|}}
                            <a {{action 'showTransaction' account}} href="#" class="unstyled">
                                <li class="list-group-item">
                                <span class="label {{if account.isBalanceNegative 'label-danger' 'label-primary'}} pull-right">
                                  {{format-amount account.balance account.currency}}
                                </span>
                                    <h4 class="name">{{account.name}}</h4>
                                  {{#if account.latestTransaction}}
                                      <p>{{account.latestTransaction.description}}</p>
                                      <span class="date">{{format-date account.latestTransaction.date 'DD/MM/YYYY'}}</span>
                                  {{/if}}
                                </li>
                            </a>
                        {{/each}}
                      </ul>
                  </div>
              </div>
          </div>
        {{#if selectedBankAccount}}
            <div class="col-md-7">
                <div class="block-flat">
                    <div class="header">
                        <div class="actions">
                          {{#link-to 'accounts.show' selectedBankAccount title='More transactions'}}<span><i class="fa fa-arrow-right"></i></span>
                          {{/link-to}}

                        </div>
                        <h3>Recent Activity: {{selectedBankAccount.name}}</h3>
                    </div>
                    <div class="content">
                        <table class="table no-border">
                            <thead class="no-border">
                            <tr>
                                <th>Date</th>
                                <th>Description</th>
                                <th>Amount</th>
                            </tr>
                            </thead>
                            <tbody class="no-border-y">
                            {{#each selectedBankAccount.lastTransactions as |transaction|}}
                              <tr class="{{if transaction.isIncome 'text-success' 'text-danger'}}">
                                  <td class="col-md-1">{{format-date transaction.date 'DD/MM/YYYY'}}</td>
                                  <td class="col-md-7">{{transaction.description}}</td>
                                  <td class="col-md-4">{{format-amount transaction.amount_cents transaction.currency}}</td>
                              </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {{/if}}
      </div>
  {{else}}
    {{#modal-window title='Create a bank account' ok='createAccount' close='removeModal'}}
        <div class="text-center">
            <h4>Welcome to MyBudget</h4>
            <p>You can start by adding a bank account.</p>
        </div>

        <form {{action 'ok' on='submit'}} class="form-horizontal">
            <div class="form-group">
                <label for="date" class="col-sm-4 control-label">Account name</label>
                <div class="col-sm-4">
                  {{input value=newAccount.name class='form-control'}}
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">Currency:</label>

                <div class="col-sm-4">
                  {{ember-selectize
                  content=currencyService.currencies
                  selection=newAccount.currency
                  }}
                </div>
            </div>
        </form>

    {{/modal-window}}
  {{/if}}

    <div class="row">
        <div class="col-md-12">
            <div class="block-flat">
                <div class="header">
                    <h3>My recent transactions</h3>
                </div>
                <div class="content">
                  {{transaction-table
                  transactions=transactions
                  createNewCategory='createNewCategory'
                  editTransaction='editTransaction'
                  newTransaction='openTransactionFormModal'
                  duplicateTransaction='duplicateTransaction'
                  }}
                </div>
            </div>
        </div>
    </div>

  {{#if showTransactionForm}}
    {{transaction-form
    bankAccounts=bankAccounts
    paymentMeans=paymentMeans
    categories=categories
    model=selectedTransaction
    removeModal='removeModal'
    createNewCategory='createNewCategory'}}
  {{/if}}

  {{outlet}}
</div>