<div id="cl-wrapper" class="sign-up-container" style="opacity: 1; margin-left: 0px;">

    <div class="middle-sign-up">
        <div class="block-flat">
            <div class="header">
                <h3 class="text-center">
                    <img class="logo-img" src="images/logo-retina.png" alt="logo" width="140" height="93">
                </h3>
            </div>
            <div>
                <form style="margin-bottom: 0px !important;" class="form-horizontal">
                    <div class="content">
                        <h5 class="title text-center"><strong>Sign Up</strong></h5>
                        {{#if errorMessage}}
                            <p>{{errorMessage}}</p>
                        {{/if}}
                        <hr>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    {{input id='username' placeholder='Username' value=model.login class="form-control" required=true}}
                                </div>
                                <div id="nick-error"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="input-group {{if model.hasValidEmail '' 'has-error'}}">
                                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                    {{input id='email' placeholder='E-mail' value=model.email class="form-control" required=true type='email'}}
                                </div>
                                <div id="email-error">
                                    {{#unless model.hasValidEmail}}
                                        <p class="text-danger">Email is not valid</p>
                                    {{/unless}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6 col-xs-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                    {{input id='pass1' placeholder='Password' value=model.password class="form-control" required=true type='password'}}
                                </div>
                                <div id="password-error"></div>
                            </div>
                            <div class="col-sm-6 col-xs-6">
                                <div class="input-group {{if model.passwordMatches '' 'has-error' }}">
                                    <span class=" input-group-addon"><i class="fa fa-lock"></i></span>
                                    {{input id='pass2' placeholder='Confirm password' value=model.password_confirm class="form-control" required=true type='password'}}

                                </div>
                                <div id="confirmation-error">
                                    {{#unless model.passwordMatches}}
                                        <p class="text-danger">Password are not matching</p>
                                    {{/unless}}
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-block btn-success btn-rad btn-lg" type="submit"
                                disabled={{model.isInvalid}} {{action 'signup'}}>Sign Up
                        </button>

                    </div>
                </form>
            </div>
        </div>
        <div class="text-center out-links"><a href="#">© 2015 Yac.io</a></div>
    </div>

</div>